* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --heading-font: 1.6rem;
  --heading-font-small: 1.3rem;
  --subheading-font: 1.1rem;
  --subheading-font-small: 0.8rem;
  --profile-pic: 5.7rem;
  --profile-pic-small: 4rem;
  --font-style: 'Montserrat', sans-serif;
  --icon-size: 1.2rem;
  --icon-size-small: 1.2rem;
  
}
